<%= form_for @order, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :order_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :order_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :requested_delivery_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :requested_delivery_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :street_address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :street_address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :delivery_instructions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :delivery_instructions, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  orders_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
