<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :order_date %>
    <%= f.input :requested_delivery_date %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :street_address %>
    <%= f.input :delivery_instructions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
