<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Requested delivery date:</strong>
  <%= @order.requested_delivery_date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @order.street_address %>
</p>

<p>
  <strong>Delivery instructions:</strong>
  <%= @order.delivery_instructions %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
