<%= simple_form_for(@product_order_bridge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :order %>
    <%= f.association :product %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
